div.background{
background-image: url("http://cache5.amanaimages.com/cen3tzG4fTr7Gtw1PoeRer/22257001649.jpg");
background-repeat: no-repeat;
-moz-background-size:cover;
background-size:cover;
background-attachment: fixed;
}
